dokka-tmp.md
.gradle
build
.idea
local.properties
/docs/docs/CHANGELOG.md
/docs/docs/dokka/
/docs/site/
/docs/.cache/
/docs/docs/samples/
/docs/docs/schemas/
/serverside/makoto/src/main/kotlin/wardenVersion.kt
/serverside/roboto/src/main/kotlin/wardenVersion.kt
/serverside/makoto/src/generated/
/serverside/roboto/src/generated/
/docs/docs/examples/
/supreme/common/src/jvmTest/resources/DebugStatements.csv
